{% extends 'base.html' %}
{% load static %}
{% block title %}<title>GlasstechSales | Yeni Məhsul</title>{% endblock %}
{% block style %}
<style>

#contentArea{
    -webkit-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.578);
    -moz-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.578);
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.578);
    width: 100%;
    min-height: 400px;
    padding: 30px;
}
</style>
{% endblock %}
{% block content %}

  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Məhsul qeydiyyatı</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'core:dashboard' %}">Dashboard</a></li>
              <li class="breadcrumb-item active">Müştəri</li>
              <li class="breadcrumb-item active">Məhsul qeydiyyatı</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

        <h4><b>*Adı:</b> {{product.name}}</h4>
        <h4><b>*Vahidi:</b> {{product.unit}}</h4>
        <h4><b>*Kategoriyası:</b> {{product.category}}</h4>
        
        <hr>
      <form class="pt-3" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h1 id="templateHeader">Şablonlar({{product.product_descriptions.all.count}})</h1>
        <select onchange="displayTemplate()" class="mb-5 form-control" name="" id="desc_select">
            <option selected value="" class="">-----------</option>
            {% for template in product.product_descriptions.all %}
            <option value="{{template.description}}">Şablon {{ forloop.counter }}</option>
            {% endfor %}
        </select>
 
        

        <button onclick="addTemplate()" style="margin-top: 10px;" type="button" class="mb-2 btn btn-primary">Yeni əlavə et</button>

        
    </form>
<hr>
    </section>
    <!-- /.content -->
  </div>

{% endblock content %}

{% block scripts %}
<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>



  <script>
    function displayTemplate(){
        if(event.target.value){

            if(!document.getElementById('contentArea')){
    
                preview = 
                `
                <div id="contentArea">
                    ${event.target.value}
                </div>
                `
                event.target.insertAdjacentHTML('afterEnd', preview)
            }else{
                document.getElementById('contentArea').innerHTML  = event.target.value
            }
        }else{
            if(document.getElementById('contentArea')){
                document.getElementById('contentArea').remove()
            }
        }

    }
    function addTemplate(){
        loader.show()
        $("#contentArea").remove()
        $("#desc_select").remove()
        event.target.insertAdjacentHTML('beforebegin', '<textarea name="new_template" id="new_template" cols="30" rows="10"></textarea>')
        event.target.insertAdjacentHTML('afterend', '<button style="margin-top: 10px;" type="submit" class="mb-2 btn btn-success">Yadda saxla</button>')
        event.target.remove()
        $("#templateHeader").text('Yeni Şablon')
        CKEDITOR.replace('new_template', {
            filebrowserImageUploadUrl: "{% url 'ckeditor_upload' %}",
                filebrowserImageBrowseUrl: "{% url 'ckeditor_browse' %}",
                removePlugins: 'exportpdf',
                toolbarCanCollapse: true
        });
        loader.hide()
    }

  </script>
{% endblock scripts %}